<div class="contenedor">
<!-- ag BUSCADOR -->
  <input type="text" class="form-control" placeholder="Buscar..." 
  name="filtroNombre" [(ngModel)]="filtroNombre">
  
  <br>
<!-- ag TABLA -->
  <table *ngIf="usuarios != null" class="table">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Nivel</th>
        <th scope="col">Mesa</th>        
        <!-- <th scope="col">Activo</th> -->
      </tr>
    </thead>
  <!-- {{usuarios | json}} -->
    <tbody>
    <ng-container *ngFor="let usuario of usuarios | pipoNombre: filtroNombre">
      <tr routerLink="/admin/user/{{usuario.id}}">
        <th class="prescindible" scope="row">{{usuario.id}}</th>
        <td>{{usuario.nombre}}</td>
        <td class="prescindible">{{usuario.email}}</td>
        <td>{{usuario.level}}</td>
        <td>{{usuario.mesa}}</td>
      </tr>
    </ng-container>
    </tbody>
  
  </table>
</div>