@import 'src/styles.scss';

.contenedor{
display: flex;
flex-wrap: wrap;
background-color: var(--negro);
color: var(--coolors4);
    div{
        @include movilPeq{
            transform: scale(0.8);
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        @include borde(--coolors4);
        border-radius: 50%;
        margin: var(--p1);
        padding: var(--p2);
    }
}