@import "src/styles.scss";

.contenedor{
    display: flex;
    justify-content: center;
    table{
        border-radius: 16px;
        box-shadow: -1rem 0 3rem #000;
        background-color: var(--negro);
        padding: 2rem;
        color: var(--coolors3);
        width: 100%;
        max-width: 800px;
        .fila, .titulos{
            display: flex;
            justify-content: space-around;
            margin: 1rem;
        }
    }
}