@import "src/styles.scss";
.error{
  color: var(--coolors4);
  background-color: var(--coolors1);
  font-size: var(--p2);
  text-align: center;
}

.contenedor{
  background-color: var(--negro);
  color: var(--coolors3);
  padding: var(--p2);
  box-shadow: -1rem 0 3rem #000;
  border-radius: 16px;
  form{
  @include movilPeq{
    transform: scale(0.8);
  }
}
  .fila_arriba{
    display: grid;
    gap: var(--p2);
    grid: "nom pre cos";
  @include movil{
    grid: 
    "nom nom"
    "pre cos";
  }
  @include movilPeq{
    grid:
    "nom"
    "pre"
    "cos"
  }
    .nombre{
      grid-area: nom;
    }
    .precio{
      grid-area: pre;
    }
    .coste{
      grid-area: cos;
    }
  }

  .fila_abajo{
    display: grid;
    gap: var(--p2);
    grid: 
    "des des des"
    "agr . cal";

    .descripcion{
      grid-area: des;
    }
    .btn_agregar{
      grid-area: agr;  
      .agregar{
        background-color: var(--coolors3);
      }
    }
    .btn_calcular{
      grid-area: cal;
      justify-self: end;
        .calcular{
          color:var(--coolors4);
          background-color: var(--coolors1);
        }
    }
  }

  .imagen{
    display: grid;
    gap: var(--p2);
    grid: 
    "in out";
  @include movil{
    grid: 
    "in"
    "out";
  }

    .in_imagen{
      grid-area: in;
    }
    .out_imagen{
      grid-area: out;
      border: solid;
      border-color: var(--coolors3);
      justify-self: center;
    }
  }


}

.crear{
    background-color: var(--coolors3);
  }

.borrar_el{
    color: var(--coolors4);
    background-color: var(--coolors1);
}

textarea{
  resize:none;
}

hr.gordo{
  color:var(--coolors4);
  border-top: 5px solid var(--coolors4);
  border-radius: 5px;
}