@import "src/styles.scss";

.contenedor{
    background-color: var(--negro);
    border-radius: 16px;
    box-shadow: -1rem 0 3rem #000;
    padding: 1rem;
    background-color: var(--negro);
    table{
        color: var(--coolors3);

    }
}

.dispensable{
    @include movilPeq{
        display: none;
    }
}