@import "src/styles.scss";

form{
  
    border-radius: 16px;
    box-shadow: -1rem 0 3rem #000;
    background-color: var(--negro);
}
.botones{
    display: flex;
    justify-content: space-around;
    margin: var(--m2);
    .agregar{
        background-color: var(--coolors3);
    }

    .comprar{
        color: var(--coolors4);
        background-color: var(--coolors1);
    }
}

table{
    @include movilPeq{
        transform: scale(0.85);
    }
    color:var(--coolors3);
    background-color: var(--negro);

    th{
        text-align: center;
    }

    .borrar_el{
        background-color: var(--coolors1);
        color:var(--coolors4);
    }
}