@import "src/styles.scss";

.contenedor{
    border-radius: 16px;
    box-shadow: -1rem 0 3rem #000;
    background-color: var(--negro);
    color:var(--coolors4);
    padding: 3rem;

    display: grid;
    justify-content: center;

    .mesa{
        display: flex;
        flex-direction: column;
        input{
            border-radius: 16px;
            text-align: center;
        }
    }
 
}  
.escaner{
    margin-left: -3rem;
    grid-area: escaner;
    transform: scale(0.5);
}