<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  
  <div class="botones">
    <span class="m-4 btn agregar" (click)="agregar()">Agregar Ingrediente</span>

    <button class="m-4 btn tirar" type="submit" [disabled]="formulario.invalid">Tirar</button>
  </div>

  <table class="table ingredientes">
      <thead>
        <tr>
          <th>Ingrediente</th>
          <th>Cantidad Comprada</th>
          <th>
            <svg 
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </th>
        </tr>
      </thead>
  
      <tbody>
<!-- 
        <tr>
          <td>  
            <span readonly class="btn agregar" (click)="agregar()">Agregar Ingrediente</span>
          </td>
          <td>
          </td>
          <td>
            <button type="submit" [disabled]="formulario.invalid" class="btn tirar">Tirar</button>
          </td>
        </tr> 
-->

        <tr formArrayName="perdidas" *ngFor="let ing of formulario.controls['perdidas']['controls']; index as i">
          
          <td [formGroupName]="i">    <!-- pl INGREDIENTES -->
            <div>
              <select class="form-select" formControlName="id">
                  <option value="" disabled selected hidden>-Seleccione ingrediente-</option>
                  <option *ngFor="let ing of ingredientes" value="{{ing[2]}}">{{ing[0]}} ({{ing[1]}})</option>
              </select>
            </div>
          </td>                       <!-- pl ============ -->
  
          <td [formGroupName]="i">    <!-- no CANTIDAD TIRADA -->
              <input type="number" class="form-control" formControlName="cantidad">
          </td>                       <!-- no ================= -->

          <td>    <!-- fu BORRAR -->
            <span class="btn borrar_el" (click)="borrar(i)">
              <svg 
              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </span>
          </td>   <!-- fu ====== -->
  
        </tr>

      </tbody>
  </table>
    
</form>