<div class="contenedor">
<!-- ps EMPIEZA FORMULARIO -->
<form [formGroup]="formulario" (ngSubmit)="onSubmit()"> 

<!-- ag NOMBRE ############################## -->
    <div class="nombre">
        <h1>
            <input type="text" class="form-control {{limpio(formulario.controls.nombre.pristine)}}" formControlName="nombre">
        </h1>       
<!-- fu ERRORES ############################# -->
        <div class="error" *ngIf=" formulario.controls.nombre.errors?.required && formulario.controls.nombre.touched">
            Este campo es oblitagorio.
        </div>
    </div>
    
    <!-- [value]="ingrediente.nombre"  -->
<!-- ag DATOS ################################# -->
    <div class="datos">
    <hr>
<!-- bi PRECIO ################################## -->
        <div class="precio">
            <label for="inPrecio">Valor: </label>
            <input class="form-control {{limpio(formulario.controls.precio.pristine)}}" type="number" step="0.01" id="inPrecio" formControlName="precio">
    <!-- fu ERRORES ################################# -->
            <div class="error" *ngIf=" formulario.controls.precio.errors?.required && formulario.controls.precio.touched">
                Este campo es obligatorio.
            </div>
        </div>
    <hr>
<!-- bi STOCK ################################### -->
        <div class="stock">
            <label for="inStock">Stock:</label>
<!-- el CANTIDAD ################################## -->
            <div class="cantidad">
                <input  class="form-control {{limpio(formulario.controls.stock.pristine)}}" type="number" id="inStock" formControlName="stock">
<!-- fu ERRORES ################################# --> 
                <div class="error" *ngIf=" formulario.controls.stock.errors?.required && formulario.controls.stock.touched">
                    Este campo es obligatorio.
                </div>
            </div>

<!-- el UNIDAD ################################## -->
            <div class="unidad">
                <input  class="form-control {{limpio(formulario.controls.unidad.pristine)}}" type="text" id="inUnidad" formControlName="unidad">

<!-- fu ERRORES ################################## -->
                <div class="error" *ngIf=" formulario.controls.unidad.errors?.required && formulario.controls.unidad.touched">
                    Este campo es obligatorio.
                </div>
            </div>
        </div>
    <hr>
<!-- bi OBSERVACIONES ############################ -->
        <div class="observaciones">
            <span>Observaciones:</span>
            <textarea class="form-control {{limpio(formulario.controls.observaciones.pristine)}}" rows="10" formControlName="observaciones" ></textarea>
        </div>
    <button type="submit" class="btn actualizar" [disabled]="formulario.invalid">Actualizar</button>

    </div>

<!-- ag FOTO ##################################### -->
    <div class="foto">
<!-- bi IMAGEN ################################### -->
        <label for="inputImg">
            <img [class]="limpio(formulario.controls.foto.pristine)" [src]="imgUrl" alt="{{serverImg}}{{ingrediente.foto}}">
        </label>

        <input  type="file" id="inputImg" formControlName="foto" (change)="onChange($event)"/>
    </div>
    
</form>
<!-- ps TERMINA FORMULARIO -->
</div>