@import "src/styles.scss";
textarea{
    resize: none;
    width: 100%;
    min-width: 200px;
}

img{
    height: 150px;
}

.contenedor{
    color: var(--coolors3);
    background-color: var(--negro);
    box-shadow: -1rem 0 3rem #000;
    border-radius: 16px;
    padding: var(--p2);

    display: grid;
    grid:
    "dat fot"
    "ing ing";
@include movil{
    grid:
    "dat"
    "fot"
    "ing";
}

    .datos{
        grid-area: dat;
        .botones{
            display: flex;
            justify-content: space-between;
            .editar{
                background-color: var(--coolors3);
            }
            .borrar{
                color: var(--coolors4);
                background-color: var(--coolors1);
            }
        }
    }
    .foto{
        margin:var(--p2);
        grid-area: fot;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ingredientes{
        grid-area: ing;
        table{
            color:var(--coolors3);
            text-align: center;
        }
    }
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Pantallas pequeñas */
@media only screen and (max-width: 700px){
    .fila{
        flex-direction: column;
    }
}