@import 'src/styles.scss';

.contenedor{
    background-color: var(--negro);
    padding: var(--p1);
    hr{
        color:var(--coolors4);
    }
    .titulo, .plato{
        transform: scale(0.8);
    }
    .titulo{
        display: grid;
        color:var(--coolors3);
        grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    }
    .plato{
        display: grid;
        color: var(--coolors3);
        grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
        .botones{
            display: flex;
            justify-content: space-around;
        }
    }
    button{
        &.ir{
            background-color: var(--coolors3);
            color: var(--coolors1);
        }
        &.no_ir{
            background-color: var(--coolors3);
            color: var(--coolors1);
        }
        &.ido{
            background-color: var(--coolors1);
            color: var(--coolors4);
        }
    }
    .otro_color{
        color:var(--coolors4);
    }
    .mostrar{
        color: var(--coolors4);
        background-color: var(--coolors1);
    }

}